<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="d-flex justify-content-between mt-3 ms-2 me-2">
                <h6 class="monster">Aura</h6>
                <h6 class="monster cursor">Create Account</h6>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="login-content">
                <div class="d-flex monster flex-column align-items-center fw-bolder">
                    <h4 class="monster">Welcome back</h4>
                    <h6 class="monster">Enter your aura account details</h6>
                </div>
                <div class="d-flex flex-column align-items-center mt-3 rounded-3">
                    <button class="btn monster monster shadow-lg d-block login-button-auth rounded-3">
                        Log in With Google
                    </button>
                    <button class="btn monster shadow-lg mt-2 d-block login-button-auth rounded-3">
                        Log in with GitHub
                    </button>
                </div>
                <div class="d-flex gap-4 mt-4 align-items-center justify-content-center">
                    <hr class="hr-width">
                    <p class="mt-2 h6">or</p>
                    <hr class="hr-width">
                </div>
                <div class="d-flex flex-column align-items-center">
                    <input type="email" formControlName="email" class="form-control input-width-auth" placeholder="Enter Your Email Address" >
                    <div class="position-relative invalid-container-email">
                        <p *ngIf="userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched" class="invalid-email text-danger">
                            Please Enter Your Email
                        </p>
                    </div>
                    <div class="position-relative invalid-container-email">
                        <p *ngIf="userForm.get('email')?.errors?.['email'] && userForm.get('email')?.touched" class="invalid-email text-danger">
                            INVALID EMAIL ADDRESS
                        </p>
                    </div>
                    <input type="password" formControlName="password" class="form-control input-width-auth second-input-box" placeholder="Enter Your Password" >
                    <div *ngIf="userForm.get('password')?.errors?.['required'] && userForm.get('password')?.touched" class="position-relative invalid-container-email">
                        <p class="text-danger position-absolute invalid-email">Please Enter Your Password</p>
                    </div>
                    <div *ngIf="userForm.get('password')?.errors?.['minlength'] && userForm.get('password')?.touched" class="position-relative invalid-container-email">
                        <p class="text-danger position-absolute invalid-email">Password Must Have 4 Digits</p>
                    </div>
                    <div *ngIf="userForm.get('password')?.errors?.['maxlength'] && userForm.get('password')?.touched" class="position-relative invalid-container-email">
                        <p class="text-danger position-absolute invalid-email">Password Must Be Lessthan 12</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <div class="d-flex justify-content-between input-width-auth">
                        <section class="d-flex align-items-center gap-2">
                            <input type="checkbox" [defaultChecked]="false" id="">
                            <p class="mt-3">Keep me signed in</p>
                        </section>
                        <section class="mt-3">
                            <p class="text-danger cursor">Forget Password</p>
                        </section>
                    </div>
                </div>
                <div class="text-center">
                     <button class="btn btn-secondary sign-in-button">Sign In</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img src="../../assets/LOGIN_WALLPAPER.jpg" class="img img-fluid img-wallpaper" alt="">
        </div>
    </div>
</div>